/* Page-level container with animated gradient background */
.container {
  min-height: 100vh;
  padding: 2rem;
  background-color: #000000;
  background-size: 600% 600%;
  color: #fff;
}


.pageTitle {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.error {
  color: red;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
}

/* Problem card */
.cardWrapper {
  position: relative;
  margin-bottom: 3rem;
}

.card {
  background: #121212;
  padding: 1.5rem;
  border-radius: 12px;
  /* box-shadow: 0 0 12px rgba(255, 255, 255, 0.05); */
  transition: border 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  border: 1px solid rgb(255, 255, 255);
  transform: translateY(-8px);
}

.header {
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.25rem;
  margin: 0;
}

.difficulty {
  display: inline-block;
  margin-top: 0.3rem;
  font-size: 0.85rem;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  text-transform: capitalize;
}

.easy {
  background-color: green;
}
.medium {
  background-color: orange;
}
.hard {
  background-color: red;
}

.description {
  font-size: 0.95rem;
  color: #ccc;
  margin: 0.5rem 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  min-height: 4.5em;
}

.tags {
  margin-bottom: 1rem;
}

.tag {
  display: inline-block;
  font-size: 0.75rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0.25rem 0.6rem;
  background: #1e1e1e;
  border-radius: 8px;
  color: #bbb;
}

/* Action buttons */
.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: auto;
}

.favoriteButton,
.deleteButton {
  font-size: 1.4rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.favoriteButton:hover,
.deleteButton:hover {
  transform: scale(1.4);
  color: red;
}

.favorited {
  color: red;
}
